<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Data Analysis</title>

  <!-- D3 library -->
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <!-- Plotly library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <!-- Heatmap library -->
  <script src="https://unpkg.com/heatmap.js"></script>

</head>
<body>
  <h1>Stock Correlation Heatmap</h1>
  <div class="row">
    <!-- <div class="col-md-2"> -->
      <!-- <div class="well"> -->
        <h3>Industry</h3>
        <select id="selDataset" onchange="optionChanged(this.value)"></select>
        <!-- <div class="col-md-10"> -->
          <div id="heatmap" style="width: 800px; height: 600px;"></div>
      
  </div>  

  <!-- Container for the heatmap -->
  <!-- <div id="heatmapContainer" style="width: 800px; height: 600px;"></div> -->
  <!-- Our JavaScript file -->
  <!-- <script src="{{url_for('static', filename = 'js/logic.js')}}"></script> -->
  <script src="{{url_for('static', filename = 'js/logic1.js')}}"></script>
</body>

</html>
