<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Charts</title>
  <!-- Plotly Library -->
  <script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
</head>

<body>
  <div class="container">
    <div class = "row">
      <!-- DROPDOWN -->
      <div class="col-md-2">
        <div class="card card-body bg-light">
          <h6>Select Sector</h6>
          <select id="selSector" onchange="optionChanged2(this.value)"></select>
        </div>
      </div>
      <!-- BAR GRAPH  -->
      <div class="col-md-10">
        <div id="plotly-chart">
      </div>
    </div>
  </div>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Our JavaScript file -->
    <script src="../static/js/total_vol.js"></script>
    
  </div>
</body>

</html>