<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Charts</title>
  <!-- Plotly Library -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.29.1.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
</head>

<body>
  <div class="container">
    
    <div class="row jumbotron rounded-5">

        <h1 class="display-5 fw-bold mx-auto text-center">Stock Volumes</h1>

        <p class="fs-5 text-center position-relative">The following graph displays stock volumes for tickers that 
          returned the highest total volumes for the respective years. <br>
          The volumes were summed by year and ticker, and each graph visualised by the individual sectors.
          <br>  
          <b>Automobiles</b><br>
            Ford, AMD, and Tesla dominated trading volumes, with Tesla experiencing a substantial increase in production and volumes in 2023.
          <br>
          <b>Finance</b><br>
            Morgan Stanley and Visa were the most traded stocks, with volumes increasing during the pandemic and reverting to lower than pre-pandemic levels afterward.
          <br>
          <b>Tech</b><br>
            Apple witnessed a significant increase in volumes post-COVID, while Micron Tech had higher volumes than Apple before the pandemic.
          <br>
          <b>Healthcare</b><br>
            Pfizer and Moderna emerged as the highest traded healthcare stocks, with Moderna experiencing a notable increase in production during the pandemic.
        </p>

    </div>
  <div class="container">
    <div class = "row">
      <!-- DROPDOWN -->
      <div class="col-md-2">
        <div class="card card-body bg-light">
          <h6>Select Sector</h6>
          <select id="selSector" onchange="optionChanged2(this.value)"></select>
        </div>
      </div>
      <!-- BAR GRAPH  -->
      <div class="col-md-10">
        <div id="plotly-chart">
      </div>
    </div>
  </div>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Our JavaScript file -->
    <script src="../static/js/total_vol.js"></script>
    
  </div>
</body>

</html>